<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="extentReportListenerUtil.Listenerr"></listener>
</listeners>

  <test thread-count="10" name="Test">
    <classes>
      <class name="testjavapages.LoginPageTest"/>
      <class name="testjavapages.DashboardPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
